<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036035817763-fmue45jv9s92bkr7cj86p0vkfulujopi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036035817763-fmue45jv9s92bkr7cj86p0vkfulujopi</string>
	<key>API_KEY</key>
	<string>AIzaSyAHgwa91znwf56uEmIXa6Aawin1IitbPqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1036035817763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.serticodeWhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>sertiwhatsappclone</string>
	<key>STORAGE_BUCKET</key>
	<string>sertiwhatsappclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036035817763:ios:6f686069d4cca929394c96</string>
</dict>
</plist>